body{
    background-color: white;
    font-family: verdana;
    color: navy;
}
h1{
    color: navy;
    margin-left: 20px;
}


a:link { color: #7777FF ; font-family:verdana;text-decoration: none;}
a:visited { color: #7777FF; font-family:verdana;text-decoration: none;}
a:active { color: #CCCCFF; font-family:verdana;text-decoration: none;}


.icylink a.active{color:#BBBBFF; text-decoration: none;}


.title-banner{
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	padding:8px;
	color:#3333DD;
	background: linear-gradient(#DDDDFF, #AAAAFF);
	display:inline-block;
	border:2px solid;
	border-color:#7777FF;
	border-radius: 10px;
	width:90%;
}
.title{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.45);
	font-size:100px; 
	color:#5555FF; 
	margin-bottom:10px; 
	margin-top:0px
}

.help{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.45);
	font-size:20px;  
	padding-left:0px;
	padding-bottom:0px;
	margin-top:0px
	background-color:#000000;
	float:center;
	border: 4px solid #5555FF;
	border-radius:100%;
	width:30px;
	height:30px;
	display:inline-block;
	overflow:hidden;
	position: absolute;
	top: 5; right: 5;
	cursor: pointer;
}
.help:hover~.description{
	display: block;
}

.subtitle{
	text-shadow: 1px 1px #000000;
	font-size:30px; 

	color:#5555FF; 
	margin-bottom:0px; 
	margin-top:0px
}

.description{
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	inset 0 0 20px 2px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 30;
	right: 30;
	z-index: 999;
	padding:8px;
	color:#3333DD;
	background: white;
	display: none;
	border:1px dashed;
	border-color:#7777FF;
	border-radius: 5px;
	width:30%;
}

.pardiv{

	padding:8px;
	margin: 5px;
	text-align: left;
	background-color:#EEEEFF;
	border:1px solid;
	border-color:#EEEEFF;
	border-radius: 10px;
}

.pardiv:hover{

	padding:8px;
	margin: 5px;
	text-align: left;
	background-color:#FFFFFF;
	border:1px solid;
	border-color:#7777FF;
	border-radius: 10px;
}


.menu-button{
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 
	0 0 3px 3px rgba(0, 0, 0, 0.25);
	font-size: 11px;
	padding:8px;
	margin: 10px;
	background-color:#EEEEFF;
	display:inline-block;
	border:2px solid;
	border-color:#7777FF;
	border-radius: 8px;
}
.menu-button-active{
	padding:8px;
	background-color:#FFFFFF;
	display:inline-block;
	border:2px solid;
	border-color:#7777FF;
	border-radius: 8px;
}
.menu-button-inactive{
	color: #FFFFFF
	padding:8px;
	background-color:#AAAAAA;
	display:inline-block;
	border:2px solid;
	border-color:#7777FF;
	border-radius: 8px;
}
.menu-button:hover{
	padding:8px;
	background-color:#000000;
	display:inline-block;
	border:2px solid;
	border-color:#7777FF;
	border-radius: 8px;
}


.dygraph-controls{color: navy;font-family: verdana;}

.dygraph-label.dygraph-title{color: navy;font-family: verdana;font-size:25px; }
.dygraph-label.dygraph-xlabel{color: navy;font-family: verdana;}
.dygraph-label.dygraph-ylabel{color: navy;font-family: verdana;}
.dygraph-axis-label.dygraph-axis-label-x{color: navy;font-family: verdana;font-size:8pt;}
.dygraph-axis-label.dygraph-axis-label-y{color: navy;font-family: verdana;font-size:8pt;}
.dygraph-axis-label.dygraph-axis-label-y.dygraph-axis-label-y2 {color: navy;font-family: verdana;}
/*.dygraph-legend {
		font-family: verdana;
		width:150px !important;
		left:1450px !important;
		font-size: 8pt !important;
        background-color: rgba(255, 255, 255, 0.75) !important;
        padding: 4px;
        border: 1px solid #000;
        border-radius: 5px;
        box-shadow: 4px 4px 4px #888;
        pointer-events: none;
}*/
#legend_mols > span { font-size: 8px; display: none;}
#legend_mols > span.highlight { border: 0px solid black; font-size: 18px; display: inline;}

#legend_prots > span { font-size: 8px; display: none;}
#legend_prots > span.highlight { border: 0px solid black; font-size: 18px; display: inline;}

/* These classes are for the fancy magnifying glass 

Large: round thingy that looks like a magnifying glass
Magnify: div for the image that needs to be magnified

*/
.large {
	/*border-radius: 100%;*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.15);
	width: 320px; 
	height: 320px; 
	position:absolute; 
	z-index: 998;
}


.magnify {
	position: relative;
	width: 1600px; 
	margin: 0px auto;
	overflow:auto;
}
