body{
    background-color: white;
    font-family: verdana;
    color: navy;
}
h1{
    color: navy;
    margin-left: 20px;
}


a:link { color: #4747FF ; font-family:verdana;text-decoration: none;}
a:visited { color: #4747FF; font-family:verdana;text-decoration: none;}
a:active { color: #CCCCFF; font-family:verdana;text-decoration: none;}


.icylink a.active{color:#CACADD; text-decoration: none;}


.title-banner{
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	padding:8px;
	color:navy;
/*	background: linear-gradient(navy, #AAAAFF); */
	display:inline-block;
	border:2px solid;
	border-color:navy;
	border-radius: 10px 0px 10px 0px;
	width:90%;
    height:200px;
/*    background: blue url('pumps.png') no-repeat 0 50%;*/
    background-image: url(pumps.png), -moz-linear-gradient(top,  navy, #AAAAFF);
    overflow: hidden;
}
.title{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.45);
	font-size:80px; 
    font-weight:bold;	
    color:white; 
	margin-bottom:10px; 
	margin-top:0px
}

.help{
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.45);
	font-size:22px;  
	padding-left:0px;
	padding-bottom:0px;
	margin-top:0px
	background-color:#000000;
	float:center;
	border: 4px solid navy;
	border-radius:100%;
	width:30px;
	height:30px;
	display:inline-block;
	overflow:hidden;
	position: absolute;
	top: 5; right: 5;
	cursor: pointer;
}
.help:hover~.description{
	display: block;
}

.subtitle{
	text-shadow: 2px 2px rgba(0,0,0,0.4);
    font-weight:bold;
	font-size:40px; 
	color:navy; 
	margin-bottom:10px; 
	margin-top:0px
}

.description{
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	inset 0 0 20px 2px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 30;
	right: 30;
	z-index: 999;
	padding:8px;
	color:navy;
    opacity:0.95;
	background: white;
	display: none;
	border:1px dashed;
	border-color:#7777FF;
	border-radius: 5px;
	width:30%;
    padding:20px;
}

.pardiv{

	padding:8px;
	margin: 5px;
	text-align: left;
	background-color:#EEEEFF;
	border:1px solid;
	border-color:navy;
	border-radius: 10px;
}

.pardiv:hover{

	padding:8px;
	margin: 5px;
	text-align: left;
	background-color:#FFFFFF;
	border:1px solid;
	border-color:navy;
	border-radius: 10px;
}


.menu-button{
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 
	0 0 3px 3px rgba(0, 0, 0, 0.25);
	font-size: 11px;
	padding:8px;
	margin: 10px;
	background-color:#EEEEFF;
	display:inline-block;
	border:2px solid;
	border-color:navy;
	border-radius: 8px 0px 8px 0px;
}
.menu-button:hover{
	padding:8px;
	background-color:#000055;
	display:inline-block;
	border:2px solid;
	border-color:#7777FF;
	border-radius: 0px 8px 0px 8px;
}


.dygraph-controls{color: navy;font-family: verdana;}

.dygraph-label.dygraph-title{color: navy;font-family: verdana;font-size:25px; padding-left:50px }
.dygraph-label.dygraph-xlabel{color: navy;font-family: verdana;}
.dygraph-label.dygraph-ylabel{color: navy;font-family: verdana;}
.dygraph-axis-label.dygraph-axis-label-x{color: navy;font-family: verdana;font-size:8pt;}
.dygraph-axis-label.dygraph-axis-label-y{color: navy;font-family: verdana;font-size:8pt;}
.dygraph-axis-label.dygraph-axis-label-y.dygraph-axis-label-y2 {color: navy;font-family: verdana;}
.dygraph-legend {
		font-family: verdana;
		width:150px !important;
		left:1450px !important;
		font-size: 8pt !important;
        background-color: rgba(255, 255, 255, 0.75) !important;
        padding: 4px;
        border: 1px solid #000;
        border-radius: 5px;
        box-shadow: 4px 4px 4px #888;
        pointer-events: none;
}

/* The stuff in the lines BELOW is to only display the highlighted series-label in the legend for dygraphs */
#legend_conversion_counts > span { display:none; }
#legend_conversion_counts > span.highlight { font-size:12px;display:inline; }
#legend_export_counts > span { display:none; }
#legend_export_counts > span.highlight { font-size:12px;display:inline; }
#legend_import_counts > span { display:none; }
#legend_import_counts > span.highlight { font-size:12px;display:inline; }
#legend_tftc > span { display:none; }
#legend_tftc > span.highlight { font-size:12px;display:inline; }
#legend_eztc > span { display:none; }
#legend_eztc > span.highlight { font-size:12px;display:inline; }
#legend_pumptc > span { display:none; }
#legend_pumptc > span.highlight { font-size:12px;display:inline; }
#legend_molstc > span {font-size:12px; display:none; }
#legend_molstc > span.highlight { font-size:12px;display:inline; }

#legend_spec > span {font-size:12px; display:none; }
#legend_spec > span.highlight { font-size:12px;display:inline; }

#legend_tftc2 > span { display:none; }
#legend_tftc2 > span.highlight { font-size:12px;display:inline; }
#legend_eztc2 > span { display:none; }
#legend_eztc2 > span.highlight { font-size:12px;display:inline; }
#legend_pumptc2 > span { display:none; }
#legend_pumptc2 > span.highlight { font-size:12px;display:inline; }
#legend_molstc2 > span {font-size:12px; display:none; }
#legend_molstc2 > span.highlight { font-size:12px;display:inline; }
/* The stuff in the lines ABOVE is to only display the highlighted series-label in the legend for dygraphs */

/* These classes are for the fancy magnifying glass 

Large: round thingy that looks like a magnifying glass
Magnify: div for the image that needs to be magnified

*/
.large {
	/*border-radius: 100%;*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.15);
	width: 320px; 
	height: 320px; 
	position:absolute; 
	z-index: 998;
}


.magnify {
	position: relative;
	width: 1600px; 
	margin: 0px auto;
	overflow:auto;
}
